
body{
    background-color: #F9FAF3;
    padding: 2%;
    padding-left: 2%;
    padding-right: 2%;
}


.navigationtext{
    display:flex;
    flex-direction:row;
    justify-content:right;
    justify-content:space-between;
    font-family: 'Gaegu';font-size: 20px;
}


.landingtext{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Gaegu';font-size: 35px;
}

.welcometext{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Gaegu';font-size: 12px;
}

:root {
    --image-0: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAYAAACEYr13AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADXSURBVHgBnZOBDYIwEEW/TtARygSygYzACHUC2QDcQCdgBEZwBEbQDXQDvepdIM1BS1/yk+a4X44fboc4JakiHUg16U0q1gy+uSENpBfpo8hqxnbB8CDdg5oT0z4Y1ZCepBvpxKMWXAOP7zliAaPU3GySenZOwnCzNzVck8+0KRe0yhsHBDksYaGn3nDtGrtg5MY+qFdIyMHNmqzyXHLQQv8ZJDgHnQ7/LFR6No/IwCLyu8aQ0TtkcMYUnNlqtogHt4oE1yMDWZCs4Pw6l3y+YFrbzThk8gVnukibe8pbAwAAAABJRU5ErkJggg==);
    --custom-width: 100vw;
    --design-width: 1103;
    --ratio: calc(var(--custom-width) / var(--design-width));
  }
  
  .container {
    position: absolute;
  }
  .fill-parent {
    width: 100%;
    height: 100%;
  }
  .bg-contain {
    background-size: contain;
  }
  .bg-cover {
    background-size: cover;
  }
  .bg-auto {
    background-size: auto;
  }
  .bg-crop {
    background-size: 100% 100%;
  }
  .bg-no-repeat {
    background-repeat: no-repeat;
  }
  .pos-init {
    top: 0px;
    left: 0px;
  }
  .image-div {
    background-color: transparent;
    background-position: center;
  }
 
  
  .materials {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 3%;
    font-family: 'Gaegu';font-size: 15px;
  }
  

  .rectangle-1 {
    width: 15%;
    height: 30%;
    top: 54%;
    left: 52.22%;
    opacity: 1;
    z-index: 23;
    transform: rotate(0deg);
    border-radius: 56px 56px 56px 56px;
    background: #f9faf3ff;
    box-sizing: border-box;
    border-left: 1px solid #000000ff;
    border-right: 1px solid #000000ff;
    border-top: 1px solid #000000ff;
    border-bottom: 1px solid #000000ff;
  }
  .rectangle-2 {
    width: 15%;
    height: 30%;
    top: 54%;
    left: 3.08%;
    opacity: 1;
    z-index: 20;
    transform: rotate(0deg);
    border-radius: 56px 56px 56px 56px;
    background: #f9faf3ff;
    box-sizing: border-box;
    border-left: 1px solid #000000ff;
    border-right: 1px solid #000000ff;
    border-top: 1px solid #000000ff;
    border-bottom: 1px solid #000000ff;
  }
  .rectangle-3 {
    width: 15%;
    height: 30%;
    top: 54%;
    left: 27.65%;
    opacity: 1;
    z-index: 21;
    transform: rotate(0deg);
    border-radius: 56px 56px 56px 56px;
    background: #f9faf3ff;
    box-sizing: border-box;
    border-left: 1px solid #000000ff;
    border-right: 1px solid #000000ff;
    border-top: 1px solid #000000ff;
    border-bottom: 1px solid #000000ff;
  }
  .rectangle-4 {
    width: 15%;
    height: 30%;
    top: 54%;
    left: 76.7%;
    opacity: 1;
    z-index: 25;
    transform: rotate(0deg);
    border-radius: 56px 56px 56px 56px;
    background: #f9faf3ff;
    box-sizing: border-box;
    border-left: 1px solid #000000ff;
    border-right: 1px solid #000000ff;
    border-top: 1px solid #000000ff;
    border-bottom: 1px solid #000000ff;
  }
  
  .photo-1 {
    width: 7.8%;
    height: 13%;
    top: 63%;
    left: 55.67%;
    opacity: 1;
    z-index: 24;
    transform: rotate(0deg);
    overflow: hidden;
  }
  .photo-2 {
    width: 12%;
    height: 13%;
    top: 63%;
    left: 28.38%;
    opacity: 1;
    z-index: 22;
    transform: rotate(0deg);
    overflow: hidden;
  }
  .photo-3 {
    width: 11%;
    height: 15%;
    top: 61%;
    left: 4.62%;
    opacity: 1;
    z-index: 26;
    transform: rotate(0deg);
    overflow: hidden;
  }
  .photo-4 {
    width: 12%;
    height: 15%;
    top: 63%;
    left: 78%;
    opacity: 1;
    z-index: 27;
    transform: rotate(0deg);
    overflow: hidden;
  }
  
  .bottomtext{
    display:flex;
    flex-direction:row;
    justify-content:right;
    font-family: 'Gaegu';font-size: 10px;
    padding-top: 18%;
  }